* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/*Header*/
body {
    width: 100%;
}



.table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }



/*Menu*/
.menu-bar {
    display:flex;
    justify-content: center;
    background: #333;
    width: 100%;
    height: 100px;
    font-size: 40px;
}

#web-logo {
    top: 22px;
    right: 50px;
    position: absolute;
    width: 65px;
    height: 65px;
    margin: -5px auto;
    border-radius: 50%;  
    transform: scale(1.4);
}

#menu{
    position: absolute;
    display: inline;
    left: 10%;
    
}
.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu-bar ul li {
    position: relative;
    padding: 15px 15px;
    height: 50px;
    
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'menu-font';
}
@font-face{
    font-family: 'menu-font';
    src: url(Satisfy-Regular.ttf) format(truetype);
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 100%;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sub-menu ul li {
    padding: 5px 10px;
    text-align: left;
    background-color: #3333337d;
    border-radius: 10%;
}

.menu-bar ul li:hover .sub-menu {
    display: block;
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: rgb(255, 255, 255);
}

#greet-1, #greet-2, #greet-3, #greet-4 {
    flex: 1 1 50%;
}

.greet-img {
    width: 99%;
    padding: 0%;
    margin: 1px;
    border-radius: 20px;
    background-color: #787878;
    box-shadow: 0 0 13px  #333;
    transform: scale(0.9);
    
}

.greet-img:hover{
    
}


.greet-p {
    width: 100%;
    padding: 5%;
    margin: 0;
    font-size: 60px;
    color: rgba(9, 125, 9, 0.8);
    font-family: 'hand-writing';
}
@font-face{
    font-family: 'hand-writing';
    src: url(Cookie-Regular.ttf) format(truetype);
}

@font-face{
    font-family: 'medium-wriring';
    src: url(Satisfy-Regular.ttf) format(truetype);
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
    font-family: 'low-writing';
}
@font-face{
    font-family: 'low-writing';
    src: url(Satisfy-Regular.ttf) format(truetype);
}

.socials{
    position: relative;
    display: flex;
    bottom: 8px;
    left: 32%;
    
}

.socials a {
    margin: 20px;
}


.fab{
    color: #ffffff;
    transform: scale(1.8);
}
.fab:hover{
    color: #008300;
}