* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    width: 100%;
}

/* Menu */

.menu-bar {
    display: inline-flex;
    justify-content: center;
    background: #444;
    width: 100%;
    height: 80px;
    font-size: 35px;
}

#web-logo {
    width: 70px;
    height: 70px;
    margin: -10px auto;
    border-radius: 50%;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu-bar ul li {
    position: relative;
    padding: 15px 15px;
    height: 50px;
    text-align: center;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 100;
    width: 100%;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sub-menu ul li {
    padding: 5px 10px;
    text-align: left;
    background-color: #3333337d;
    border-radius: 10%;
}

.menu-bar ul li:hover .sub-menu {
    display: block;
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: whitesmoke;
}

#greet-1, #greet-2, #greet-3, #greet-4 {
    flex: 1 1 50%;
}

.greet-img {
    width: 98%;
    padding: 1%;
    margin: 0;
    border-radius: 20px;
}

.greet-p {
    width: 90%;
    padding: 5%;
    margin: 0;
    font-size: 50px;
    color: rgba(7, 74, 7, 0.8);
    font-family: 'hand-writing';
}

.search-info {
    width: 100%;
    text-align: center;
}

#search-input {
    border: 1px solid rgba(30, 20, 20, 0.785);
    border-radius: 10px;
    text-align: center;
    padding: 10px 80px;
    margin: auto;
}

#user-btn {
    left: 90%;
}

#user {
    border: none;
    background-color: #333;
}

.icon {
    background-color: #333;
    color: #fff;
    transform: scale(3);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.footer-content {
    width: 50%;
    height: 300px;
}

.show-gg-map {
    width: 50%;
    height: 300px;
}

.footer-bottom {
    width: 100%;
    text-align: center;
}

.infomation {
    padding: 15px 80px;
}

.heading {
    font-size: 30px;
    padding: 20px 0;
}

/* For test */

.cart-item {
    display: flex;
}

.cart-item-img {
    width: 100px;
}

.cart-item-name,
.cart-item-price {
    margin-left: 10px;
}

.list {
    width: 100%;
}

@font-face {
    font-family: 'hand-writing';
    src: url('Cookie-Regular.ttf') format('truetype');
}