* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

#purchase-history {
    width: 90%;
    border-collapse: collapse;
    margin: 50px auto;
    overflow: auto;
    border: 2px solid brown;
}

#purchase-history th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid brown;
}

